body.is-about {
  --color-primary: #937ee1;
  .swiper {
    height: auto;
  }
  .swiper-slide {
    display: block;
    margin: 0 auto;

    &.swiper-slide--last > * {
      overflow: hidden;
    }

    h1 {
      text-align: left;
      width: 100%;
      font-size: clamp(1.25rem, 4vw, 50px);
      margin-bottom: 10px;
      margin: 0 auto;
      max-width: 500px;
      display: block;
    }

    p {
      font-weight: 400;
      line-height: 1.75;
      font-size: 16px;
      overflow: visible !important;
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      display: block;

      @media screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
  }

  .uiui-replay {
    display: none;
  }
  .swiper-slide {
    cursor: unset;
  }
}

.uiui-spinner {
}
