:root {
  --color-primary: #f6d864;
  --swiper-theme-color: black;
  --swiper-navigation-size: 25px;
}

body {
  font-family: 'Work Sans', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  border-radius: 4px;
  background-color: white;
  padding: 4px;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    top: 100px;
  }

  a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    padding: 8px;
    transition: all 0.2s ease;

    @media screen and (max-width: 500px) {
      font-size: 16px;
      gap: 8px;
    }

    span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .Indicator,
  .HiddenIndicator {
    height: calc(100% - 8px);
    background-color: var(--color-primary);
    position: absolute;
    width: 50px;
    transform: translateX(-300%);
    z-index: 0;
    border-radius: 3px;
  }
  .Indicator {
    z-index: 1;
  }

  .HiddenIndicator {
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out;

    &.is-visible {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.swiper {
  width: clamp(320px, 80vw, 1000px);
  height: clamp(300px, 50vh, 800px);
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    width: calc(100vw - 20px);
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  cursor: grab;
  font-weight: bold;
  background: #fff;
  padding: 50px;

  @media screen and (max-width: 500px) {
    padding: 20px;
  }

  &.swiper-slide--last {
    align-items: flex-start;

    > * {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.uiui-toolbar {
  margin-top: -50px;
  margin-right: 14px;
  margin-left: 14px;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
}

.uiui-replay {
  cursor: pointer;
  text-decoration: underline;
  font-size: clamp(12px, 3vw, 16px);
  display: block;
}
.uiui-code {
  z-index: 1;
  transition: all 0.3s ease-out;
  color: white;
  font-weight: 400;
  font-family: monospace;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(12px, 3vw, 16px);
  z-index: 5;
  position: relative;
  display: inline-block;
}

.uiui-code:before {
  content: '';
  background: linear-gradient(45deg, #ff3c3c, #4968ff, #a34dff, #ff53da, #ff4444);
  position: absolute;
  top: 0;
  left: 0;
  background-size: 400%;
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: all 0.3s ease-out;
  transform-origin: center;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.uiui-code:hover {
  transform: scale(1.025) translateZ(0);
}
.uiui-code:hover:before {
  opacity: 1;
  transform: translateZ(0) scaleX(1.095) scaleY(1.195);
}
.uiui-code:active::after {
  background: rgb(36, 36, 36);
  border-radius: 8px;
}

.uiui-code:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 8px;
}

@keyframes bg {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 5%;
  }
}

.swiper-pagination {
  bottom: unset;
  margin-top: 10px;

  @media screen and (max-width: 500px) {
    bottom: -40px !important;
  }
}

.Avatar-Wrap {
  display: flex;
  margin: 80px 0 0;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;

  div {
    margin-left: 10px;
    flex: 1;

    p,
    a {
      line-height: 1.5;
      font-size: 14px;
      margin: 0;
      color: black;
    }
    a {
      font-weight: 700;
    }
  }

  img {
    display: block;
    border-radius: 100%;
    width: 100%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: solid 2px rgba(255, 255, 255, 1);
  }
}

path {
  transform-origin: 50% 0%;
}

.background--custom {
  background-color: #ffffff;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes path0 {
  0% {
    transform: rotateZ(-10deg) translateZ(0);
  }
  100% {
    transform: rotateZ(10deg) translateZ(0);
  }
}
@keyframes path1 {
  0% {
    transform: rotateZ(-10deg) translateZ(0);
  }
  100% {
    transform: rotateZ(10deg) translateZ(0);
  }
}
@keyframes path2 {
  0% {
    transform: rotateZ(20deg) translateZ(0);
  }
  100% {
    transform: rotateZ(-20deg) translateZ(0);
  }
}
.swiper-button-next {
  right: 20px;
}
.swiper-button-prev {
  left: 20px;
}

.editor-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  opacity: 0;
  visibility: hidden;

  @media screen and (max-width: 500px) {
    padding: 0px;
  }
  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  .editor {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    width: clamp(320px, 80vw, 1000px);
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
    background-color: white;

    @media screen and (max-width: 500px) {
      width: calc(100vw - 20px);
    }
    iframe {
      display: block;
    }
  }

  .editor-close-times {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    transition: all 0.2s ease;

    @media screen and (max-width: 500px) {
      bottom: 20px;
      top: unset;
      right: 20px;
    }

    &:hover {
      transform: scale(1.125);
    }
    &::before,
    &::after {
      top: 24px;
      left: 10px;
      width: 30px;
      height: 3px;
      content: '';
      background-color: black;
      position: absolute;
      transform-origin: center;
      transition: all 0.2s ease;
    }
    &::after {
      transform: rotateZ(45deg);
    }
    &::before {
      transform: rotateZ(-45deg);
    }
  }
}
