body.is-buttons {
  --color-primary: #e19b7e;

  .swiper-slide {
  }
  .uiui-replay {
    display: none;
  }
}

.uiui-button {
  min-width: 220px;
  padding: 18px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: black;
  color: #fff;
}

.uiui-button--glow {
  z-index: 1;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}

.uiui-button--glow:before {
  content: '';
  background: linear-gradient(45deg, #ff3c3c, #4968ff, #a34dff, #ff53da, #ff4444);
  position: absolute;
  top: 0;
  left: 0;
  background-size: 400%;
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  transform-origin: center;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
}

.uiui-button--glow:hover {
  transform: scale(1.025) translateZ(0);
}
.uiui-button--glow:hover:before {
  opacity: 1;
  transform: translateZ(0) scaleX(1.045) scaleY(1.145);
}
.uiui-button--glow:active::after {
  background: rgb(36, 36, 36);
}

.uiui-button--glow:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 8px;
}

.uiui-button--swap {
  overflow: hidden;
  height: 50px;

  span {
    top: 50%;
    left: 50%;
    width: 100%;
    display: block;
    position: absolute;
    transform: translateY(-50%) translateX(-50%) translateZ(0);
    transition: all 0s ease-in-out;
    pointer-events: none;

    &:last-child {
      transform: translateY(-50px) translateX(-50%) translateZ(0);
    }
  }

  &:hover {
    background: rgb(36, 36, 36);
  }
}

.uiui-button--fill {
  background-color: transparent;
  padding: 0;

  span {
    position: relative;
    z-index: 1;
    color: black;
    min-width: 220px;
    display: block;

    &:first-child {
      border: solid 2px rgba(black, 0.8);
      padding: 18px 25px;
    }

    &:last-child {
      background-color: #ffe54c;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 0;
      transform: translate(10px, 10px);
    }
  }
}

.uiui-button--goo {
  border-radius: 10px;

  .goo {
    position: absolute;
    visibility: hidden;
  }
  span {
    position: relative;

    z-index: 1;
    pointer-events: none;
  }
  .blobs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: url('#goo');
    background-color: black;
    border-radius: 10px;
  }
  .blob {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;

    &.top-left {
      top: 0;
      left: 0;
    }

    &.bottom-right {
      bottom: 0;
      right: 0;
    }
  }
}

.uiui-button.example-5 {
  background-color: transparent;
  &:hover {
    span {
      color: white;
    }
  }
  span {
    color: black;
    z-index: 1;
    pointer-events: none;
    position: relative;
    display: block;
    transition: all 0.3s ease-out;

    &:last-child {
      transition: none;
      z-index: 0;
      position: absolute;
      right: 0px;
      top: 50%;
      width: 20px;
      height: 4px;
      transform: translateX(-10px) translateY(-50%);
      background-color: black;
      transform-origin: right;
    }
  }
}

.uiui-button.example-6 {
  background-color: transparent;
  &:hover {
    span {
      color: white;
    }
  }
  span {
    color: black;
    z-index: 1;
    pointer-events: none;
    position: relative;
    display: block;
    transition: all 0.3s ease-out;

    &:last-child {
      transition: none;
      z-index: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - 100px);
      height: 3px;
      transform: translateX(-50%) translateY(-10px);
      background-color: black;
      transform-origin: bottom;
    }
  }
}

.uiui-button.example-7 {
  overflow: hidden;
  height: 50px;
  min-width: 180px;

  span {
    width: 100%;
    display: block;
    transition: all 0s ease-in-out;
    pointer-events: none;

    &:last-child {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translateY(100%) translateX(-100%) translateZ(0);
    }
  }

  &:hover {
    background: rgb(36, 36, 36);
  }
}

.uiui-button.example-8 {
  background-color: transparent;
  background-image: linear-gradient(90deg, #3512b2, #d18873);
  background-size: 200%;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.49, 0.04, 0, 1);
  padding: 14px 30px;

  &:hover {
    background-color: transparent;
    filter: brightness(1.125);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 8px rgba(0, 0, 0, 0.06),
      0 16px 18px rgba(65, 56, 56, 0.04), 0 32px 36px rgba(0, 0, 0, 0.02);
    transform: scale(1.05);
    background-position: 100%;
  }
}

.uiui-button.example-9 {
  background-color: transparent;
  padding: 0;
  overflow: hidden;

  span {
    background-color: black;
    padding: 15px 30px;
    display: block;

    &:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateY(-50%) translateX(-50%) translateZ(0);
    }
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
